{% extends "base.html" %}

{%block text%}
    <p class="text">{{ data.question }}?</p>
{%endblock%}

{% block body %}
    <form class="grid quiz-buttons" method="post">
        <div>
            <input class="button answer-button" type="submit" name="answer" value="0">
            <h4 class="text caption normal-caption">
                {{ data.variants[0] }}
            </h4>
        </div>

        <div>
            <input class="button answer-button" type="submit" name="answer" value="1">
            <h4 class="text caption normal-caption">
                {{ data.variants[1] }}
            </h4>
        </div>

        <div>
            <input class="button answer-button" type="submit" name="answer" value="2">
            <h4 class="text caption normal-caption">
            {{ data.variants[2] }}
        </h4>
        </div>

        <div>
            <input class="button answer-button" type="submit" name="answer" value="3">
            <h4 class="text caption normal-caption">
                {{ data.variants[3] }}
            </h4>
        </div>
    </form>
{% endblock %}